
target/
dbt_packages/
dbt_internal_packages/
fs_internal_packages/
dbt_modules/
logs/
**/.DS_Store
.user.yml
venv/
env/
**/*.duckdb
**/*.duckdb.wal

nyc_yellow_taxi/yellow_tripdata_2023-01.parquet
nyc_yellow_taxi/green_tripdata_2023-01.parquet