{%
  set jennas_dictionary = {
    'word' : 'data', 
    'part_of_speech' : 'noun',
    'definition': 'the building block of life'
  }
%}

{{ jennas_dictionary.word}} is a {{ jennas_dictionary.part_of_speech }} that means "{{ jennas_dictionary.definition }}".
{{ jennas_dictionary['word'] }} is a {{ jennas_dictionary['part_of_speech'] }} that means "{{ jennas_dictionary['definition'] }}".